h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  background-color: #e5e5e5;
}
@media screen and (max-width: 320px) {
  .container {
    padding: 15px;
  }
}
@media screen and (min-width: 321px) and (max-width: 767px) {
  .container {
    padding: 30px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    padding: 40px;
  }
}

.wrap {
  background-color: #ffffff;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}
@media screen and (min-width: 768px) {
  .wrap {
    display: flex;
  }
}

.left {
  background-color: #1e2939;
}
@media screen and (max-width: 320px) {
  .left {
    width: calc(100vw - 30px);
  }
}
@media screen and (min-width: 321px) and (max-width: 479px) {
  .left {
    width: calc(100vw - 60px);
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .left {
    width: 100%;
  }
}
@media screen and (min-width: 480px) {
  .left {
    padding-top: 36px;
  }
}
@media screen and (min-width: 768px) {
  .left {
    width: 370px;
  }
}
@media screen and (max-width: 767px) {
  .left__foto {
    width: 100%;
  }
}
.left__info {
  padding: 50px 40px;
}
.left__title {
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  margin-bottom: 8px;
  color: #ffffff;
}
.left__item, .right__link, .right__sub-title-text, .right__description, .left__link, .left__item--first {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
}
.left__item--first {
  opacity: 0.5;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.left__item--last {
  margin-bottom: 45px;
}
.left__item--marker {
  display: flex;
  align-items: center;
}
.left__item--marker::before {
  content: "";
  width: 3px;
  height: 3px;
  border-radius: 50%;
  margin-right: 10px;
  background-color: #fb6d3a;
}
.left__link {
  display: flex;
  align-items: center;
  opacity: 0.5;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.left__link--underlined {
  text-decoration: underline;
}
.left__link--last {
  margin-bottom: 45px;
}
.left__link:hover, .left__link:focus {
  color: #fb6d3a;
}

@media screen and (max-width: 479px) {
  .right {
    padding: 30px 20px;
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .right {
    padding: 65px 55px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .right {
    padding: 75px 45px;
  }
}
@media screen and (min-width: 1200px) {
  .right {
    padding: 102px 88px;
  }
}
.right__sub-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 20px;
  color: #000000;
}
.right__title {
  font-weight: 700;
  line-height: 55px;
  margin-bottom: 24px;
  color: #000000;
}
@media screen and (max-width: 479px) {
  .right__title {
    font-size: 30px;
  }
}
@media screen and (min-width: 480px) and (max-width: 1199px) {
  .right__title {
    font-size: 35px;
  }
}
@media screen and (min-width: 1200px) {
  .right__title {
    font-size: 45px;
  }
}
@media screen and (min-width: 768px) {
  .right__wrap {
    width: 400px;
  }
}
.right__sub-title-text, .right__description {
  color: #595959;
}
.right__sub-title-text {
  margin-bottom: 40px;
}
.right__sub-title-text--limited {
  margin-bottom: 25px;
}
@media screen and (min-width: 768px) {
  .right__sub-title-text--limited {
    width: 400px;
  }
}
.right__projects {
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  margin-bottom: 8px;
  color: #000000;
}
.right__list {
  margin-bottom: 10px;
}
.right__list--row {
  display: flex;
  padding: 0;
  margin-bottom: 20px;
}
.right__item {
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
}
.right__item--row {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 567px) {
  .right__item--row {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.right__item--row:not(:last-child) {
  margin-bottom: 10px;
}
.right__item--row::before {
  content: "";
  width: 5px;
  height: 5px;
  border-radius: 50%;
  margin-right: 10px;
  border: 1px solid #595959;
}
.right__link {
  color: #595959;
  margin-right: 10px;
}
@media screen and (max-width: 479px) {
  .right__link {
    font-size: 12px;
  }
}
.right__link:hover, .right__link:focus {
  color: #fb6d3a;
}
.right__description {
  margin-right: 10px;
  background-color: #e5e5e5;
}
.right__description--different {
  background-color: transparent;
  margin-bottom: 25px;
}
.right__education, .right__experience {
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  margin-bottom: 12px;
  color: #000000;
}
.right__education-sub-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 11px;
  color: #fb6d3a;
}
.right__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 12px;
  color: #000000;
}
.right__start, .right__country {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #a8a8a8;
}
.right__country {
  display: flex;
  align-items: center;
}
.right__start {
  margin-right: 10px;
}
.right__country::before {
  content: "";
  height: 13px;
  border: 1px solid #1e2939;
  margin-right: 10px;
}/*# sourceMappingURL=main.css.map */