.container {
  background-color: $bg-color;
  @media screen and (max-width: 320px) {
    padding: 15px;
  }
  @media screen and (min-width: 321px) and (max-width: 767px) {
    padding: 30px;
  }
  @media screen and (min-width: 768px) {
    padding: 40px;
  }
}

.wrap {
  background-color: $page-bg-color;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
  @media screen and (min-width: 768px) {
    display: flex;
  }
}
