.left {
  background-color: $section-bg-color;
  @media screen and (max-width: 320px) {
    width: calc(100vw - 30px);
  }
  @media screen and (min-width: 321px) and (max-width: 479px) {
    width: calc(100vw - 60px);
  }
  @media screen and (min-width: 480px) and (max-width: 767px) {
    width: 100%;
  }
  @media screen and (min-width: 480px) {
    padding-top: 36px;
  }
  @media screen and (min-width: 768px) {
    width: 370px;
  }
  &__foto {
    @media screen and (max-width: 767px) {
      width: 100%;
    }
  }
  &__info {
    padding: 50px 40px;
  }
  &__title {
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    margin-bottom: 8px;

    color: $secondary-title-color;
  }

  &__item {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;

    color: $secondary-title-color;
    &--first {
      opacity: 0.5;
      text-shadow: 0px 4px 4px rgb(0 0 0 / 25%),
        0px 4px 4px rgb(0 0 0 / 25%);
      @extend .left__item;
    }
    &--last {
      margin-bottom: 45px;
    }

    &--marker {
      display: flex;
      align-items: center;
    }

    &--marker::before {
      content: '';
      width: 3px;
      height: 3px;
      border-radius: 50%;
      margin-right: 10px;
      background-color: $accent-text-color;
    }
  }
  &__link {
    display: flex;
    align-items: center;

    opacity: 0.5;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
      0px 4px 4px rgba(0, 0, 0, 0.25);
    @extend .left__item;
    &--underlined {
      text-decoration: underline;
    }
    &--last {
      margin-bottom: 45px;
    }
  }
  &__link:hover,
  &__link:focus {
    color: $accent-text-color;
  }
}

.right {
  @media screen and (max-width: 479px) {
    padding: 30px 20px;
  }
  @media screen and (min-width: 480px) and (max-width: 767px) {
    padding: 65px 55px;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    padding: 75px 45px;
  }
  @media screen and (min-width: 1200px) {
    padding: 102px 88px;
  }
  &__sub-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 20px;

    color: $primary-title-color;
  }
  &__title {
    font-weight: 700;
    line-height: 55px;
    margin-bottom: 24px;

    color: $primary-title-color;
    @media screen and (max-width: 479px) {
      font-size: 30px;
    }
    @media screen and (min-width: 480px) and (max-width: 1199px) {
      font-size: 35px;
    }
    @media screen and (min-width: 1200px) {
      font-size: 45px;
    }
  }
  &__wrap {
    @media screen and (min-width: 768px) {
      width: 400px;
    }
  }
  &__sub-title-text,
  &__description {
    color: $primary-text-color;
    @extend .left__item;
  }
  &__sub-title-text {
    margin-bottom: 40px;
  }
  &__projects {
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    margin-bottom: 8px;

    color: $primary-title-color;
  }
  &__list {
    margin-bottom: 25px;

    &--row {
      display: flex;
      padding: 0;
    }
  }
  &__item {
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;

    color: $primary-title-color;
    &--row {
      @media screen and (max-width: 567px) {
        flex-direction: row;
        flex-wrap: wrap;
      }
      display: flex;
      align-items: center;
    }
    &--row:not(:last-child) {
      margin-bottom: 10px;
    }
    &--row::before {
      content: '';
      width: 5px;
      height: 5px;
      border-radius: 50%;
      margin-right: 10px;
      border: 1px solid $primary-text-color;
    }
  }
  &__link {
    color: $primary-text-color;
    margin-right: 10px;

    @media screen and (max-width: 479px) {
      font-size: 12px;
    }
    @extend .left__item;
  }

  &__link:hover,
  &__link:focus {
    color: $accent-text-color;
  }
  &__description {
    margin-right: 10px;
    background-color: $bg-color;
  }
  &__education,
  &__experience {
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    margin-bottom: 12px;

    color: $primary-title-color;
  }
  &__education-sub-title {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 11px;

    color: $accent-text-color;
  }
  &__text {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 12px;

    color: $primary-title-color;
    &--limited {
      margin-bottom: 25px;
      @media screen and (min-width: 768px) {
        width: 400px;
      }
    }
  }

  &__start,
  &__country {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;

    color: $subtitle-text-color;
  }
  &__country {
    display: flex;
    align-items: center;
  }
  &__start {
    margin-right: 10px;
  }
  &__country::before {
    content: '';
    height: 13px;
    border: 1px solid $section-bg-color;
    margin-right: 10px;
  }
}
