$head-font: 'Montserrat', sans-serif;
$bg-color: #e5e5e5;
$page-bg-color: #ffffff;
$section-bg-color: #1e2939;
$primary-title-color: #000000;
$secondary-title-color: #ffffff;
$primary-text-color: #595959;
$secondary-text-color: #ffffff;
$subtitle-text-color: #a8a8a8;
$accent-text-color: #fb6d3a;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
